.mainTitle {
  text-align: center;
  color: cornflowerblue;
  font-weight: lighter;
}

.subTitle {
  font-weight: lighter;
  color: darkmagenta;
}

.inputData {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-style: hidden;
  margin: 50px;
}




